#login{
  border-style: double; 
  border: 30%;
  text-align: center; 


}
#header{
    background-color: crimson;
}
head{
    background-color: crimson;
}
#Planit{
    text-align: center;
    color: white;
}
